<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>02_inserDatebase.html</title>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body>
    <form id="Blur" method="post">
        <p>
             省份：<input type="text" id="province" name="proname">
            <span id="exit1"></span>
        </p>
       <p>
           城市:<input type="text" id="city" name="cityname">
           <span id="exit2"></span>
       </p>
        <p>
            <input type="submit" value="提交">
        </p>
    </form>
</body>
</html>